/*** REMOTE CHESS STYLES ***/

.nocss { display:none; }


/* EVIL HARD RESET AND PAGE LAYOUT */

* { margin:0; padding:0; }
html { background:#eaeaea; background:#ccc; color:#000; text-align:center;
	background:#888 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAAXNSR0IArs4c6QAAAAZiS0dEAJAAkACQJVm32wAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wCGAwaK1POoBsAAABCSURBVBjTfc/BDQAhDANBk9eWnZJTAp8gBHfY31lFyshMrQGAzoXnqgrPfcOwpPDchWEgPN/Fl49vf3kXL+7CsKQJRZIfxgj2msAAAAAASUVORK5CYII=)
	repeat scroll 0 0;
}
body {
	position:relative;
	background:#fff; color:#000;
	font-family:sans-serif;
	text-align:center;
	-webkit-box-shadow:2px 2px 12px #60645d;  /*666*/
	   -moz-box-shadow:2px 2px 12px #60645d;
	        box-shadow:2px 2px 12px #60645d;
}
@media (max-width:970px) {
	body {
		display:inline-block;
		width:550px;
	}
	body section {
		margin:0; padding:0;
	}
	.history { width:470px; }
	.history h2 { width:auto; }
}
body, pre { font-size:16px; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }

/* PAGE LAYOUT */

header {
	border-bottom:solid 1px #ccc;
	background:#eaeaea; color:#000;
	Xborder-radius:0.5em 0.5em 0 0;
}
header h1 {
	height:1em; margin:0 0 0.25em; font-size:1.5em;
	padding:0.15em 0 0.05em;
}

section {
	display:inline-block;
	margin:0 1em 0.5em 1em;
	vertical-align:top;
}
section:nth-child(4) { Xmargin-right:0; }

/* NEW GAME */

#new_game { display:inline-block; width:30em; }
#new_game h1 { font-size:1.25em; padding-top:0.75em; border-top:solid 1px #ccc; }
#new_game form { border-top:solid 1em #eaeaea; padding:0 0 0.5em; }
#new_game p { margin:1em 0; }
#new_game input { margin:0.5em; }

/* GAME STATE LINK */

.game_state_link { width:14em; }
.game_state_link p { margin:0 auto 1em; word-break:break-all; }
.game_state_link p:nth-child(4) { margin:-1em auto 0; padding:1em 0; font-family:monospace; font-size:0.82em; }

h2 { border-bottom:solid 1px #ccc; margin:1em 0; font-size:1em; }
h2 strong { color:#c10; }
section h2:nth-child(3) { margin-top:3em; }

.game_window h2 { color:#0a0; }

/* CHESS BOARD */

table {
	margin:1em auto;
	border:solid 10px #886;
	border-color:#ba8 #875 #764 #a97;
	border-spacing:1px; empty-cells:show;
	background:#986; color:#ba8;
	
}
td {
	width:50px; height:50px;
	text-align:center; vertical-align:middle; 
	color:#000; background:#a97; font-size:0;
}
th {
	width:25px; height:25px; border:solid 0px #00f;
	font-weight:normal;
}
tr:nth-child(2n) td:nth-child(2n),
tr:nth-child(2n+1) td:nth-child(2n+1) {
	background:#cb9;
	color:#888;
}
tr:nth-child(1) th,
th:nth-child(10) {
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}
table a {
	display:block; width:100%; height:100%; Xoutline:dashed 1px #0f0;
	background:rgba(255, 255, 128, 0.5);
}
table a:focus { outline:solid 2px #0f0; }

td.prev_move { background:#fff; }
td.selected { outline:dotted 2px #fff; }
div.selected { outline:solid 2px #fff; }
table.white div.white.selected { outline-color:#ff0; }
table.black div.black.selected { outline-color:#ff0; }
table.white div.black.selected { outline-color:#f00;outline:none; }
table.black div.white.selected { outline-color:#f00;outline:none; }
table.white.flipped div.white.selected { outline-color:#ff0; }
table.black.flipped div.black.selected { outline-color:#ff0; }
table.white.flipped div.black.selected { outline-color:#f00;outline:none; }
table.black.flipped div.white.selected { outline-color:#f00;outline:none; }

.piece, td div {
	overflow:hidden; width:50px; height:50px;
}
.notmoved:hover { Xoutline:1px dashed #fff; }


div.white,
div.black { background:url(symbols_50px.png); }

.black.king   { background-position:    0px 50px; }
.black.queen  { background-position:  -50px 50px; }
.black.rook   { background-position: -100px 50px; }
.black.bishop { background-position: -150px 50px; }
.black.knight { background-position: -200px 50px; }
.black.pawn   { background-position: -250px 50px; }

.white.king   { background-position:    0px 0; }
.white.queen  { background-position:  -50px 0; }
.white.rook   { background-position: -100px 0; }
.white.bishop { background-position: -150px 0; }
.white.knight { background-position: -200px 0; }
.white.pawn   { background-position: -250px 0; }


/* PROMOTION POPUP */

.popup {
	list-style-type:none; width:100%;
	margin-top:-0.5em; Xborder:solid 1px #000; border-width:1px 0px; Xpadding:10px 0;
	text-align:center; Xbackground:#E6DD8C; color:#000;
}
.popup li { display:inline-block; padding:5px 5px 0; font-size:0; }
.popup li div { overflow:hidden; width:50px; height:50px; }


/* RESPONSE FORM */

.send_link {
	margin:0 0 0 -3em; padding:0.2em 0.5em;
	border-bottom:solid 1px #ccc;
	background:#fafafa;
	white-space:pre-wrap; word-wrap:break-word;
	font-size:0.75em;
}
.send_link a { text-decoration:none; }
.send_link a:hover { text-decoration:underline; }

label { display:inline-block; width:5em; text-align:right; }
input { padding:0.2em 0.3em; margin-right:4em; }
input[type=submit] { margin-left:4em; }
.move input[type=text] { width:3em; }
.names { margin:0 0 -1em; }
.names input[type=text] { width:6em; text-align:center; }
.names .set { border:none; font-size:1.1em; font-weight:bold; }
p { margin:0.5em 0; }


/* HISTORY */

.history {
	display:inline-block;  Xwidth:14em; margin-bottom:1em;
	text-align:left;
}
.history ul {
	display:inline-block;
	Xfloat:left;
	list-style-type:none; list-style-position:outside;
	margin:0 2em 0em 0; line-height:1.2em;
	letter-spacing:0.035em; word-spacing:-0.2em;
}
.history h2 { font-weight:normal; }
.history h2 strong { color:#000; }
.history li { Xwhite-space:nowrap; Xmargin-bottom:0.2em; font-weight:bold; }
.history a { display:inline-block; position:relative; left:0.35em; padding:0.15em 0.5em; font-weight:normal; }

.history li { display:table-row; font-weight:bold; }
.history li strong { color:#0a0; } 

.history a { display:table-cell; width:auto; color:#000; }
.history a:hover { color:#00f; background:#eef; }
.history .selected a:hover,
.history a:hover strong { color:#00f; background:#eef; font-weight:normal; }
.history a:visited span { color:#986; }
.history a:active span { color:#f00; }
.history a:hover span { text-decoration:underline; }
.history a.selected { Xcolor:#080; background:#ddffc0; Xoutline:solid 1px #0c0; }
.history span { display:inline-block; width:1.2em; text-align:center; }


/* FOOTER */
footer {
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #eaeaea;
	Xborder-radius:0 0 0.5em 0.5em;
	background:#eaeaea; color:#000;
}
footer h3 { margin:0; padding:0.3em; font-size:0.65em; font-weight:normal; }
footer p { display:inline-block; vertical-align:middle; }


/* NAVIGATION */
nav {
	position:absolute; top:1px; right:0px; overflow:hidden;
	width:12em; height:1.5em; margin-top:-1px; border:solid 1px #eaeaea;
	Xborder:solid 1px #ccc; padding:0.2em 0.5em;
	text-align:left; background:#eaeaea; color:#000;
}
nav:hover {
	height:auto; overflow:visible;
}
nav ul { list-style-type:none; }
ul, li { margin:0; padding:0 0 0.1em; }
nav li:first-child { text-align:right; }
nav button { margin:0 0 0.35em 1em; }
nav hr { clear:both; height:1px; margin:0.2em 0; color:#ccc; background:#ccc; border:none; outline:none; }


/* DEBUG */

.debug {
	Xheight:1.1em; Xoverflow:hidden; padding:0.2em 0.3em;
	text-align:left; background:#eaeaea; color:#000;
}
.debug:hover {
	height:auto; overflow:visible;
}


/* EOF */