/*** REMOTE CHESS STYLES ***/

body {
	display:inline-block;
    -webkit-box-shadow:2px 2px 12px #60645d;  /*666*/
       -moz-box-shadow:2px 2px 12px #60645d;
	    box-shadow:2px 2px 12px #60645d;
	margin:0.5em;
	border:solid 4px #555;
	border-radius:0.5em;
}
#chess_board section { Xmargin:0 1em; }
Xsection:nth-child(2) { Xmargin-left:1.5em; }

/* PAGE LAYOUT */

header, nav {
	border-radius:0.5em 0.5em 0 0;
}

#new_game { width:30em; }


/* FOOTER */
footer {
	border-radius:0 0 0.5em 0.5em;
}


/* EOF */