/*** REMOTE CHESS STYLES ***/

body {
	position:relative;
	width:550px; margin:3em auto 0; padding:0 18em 0 0;
	border:solid 1px #ccc;
}

header { margin:-2.24em -18em 0 0; }

.history_header { position:absolute; top:2em; left:550px; }
.history {
	position:absolute; top:4em; left:550px;
	background:#fff; color:#000;
}

footer { margin:1em -18em -2.05em 0; }
nav { margin:-2.26em 0 0; }

/* EOF */