/*** REMOTE CHESS STYLES ***/

table a { background:none; }
body td.selected { outline:none; }

.history li { display:block; }
.history a { display:inline-block; position:inline; padding:0.15em 0.15em;  }


/* EOF */