/*** SMALL ICONS - REMOTE CHESS STYLES ***/

td {
	width:40px; height:40px;
}

div.white,
div.black { background:url(symbols_black_40px.png); }

.piece, td div {
	overflow:hidden; width:40px; height:40px;
}

.black.king   { background-position:    0px 40px; }
.black.queen  { background-position:  -40px 40px; }
.black.rook   { background-position:  -80px 40px; }
.black.bishop { background-position: -120px 40px; }
.black.knight { background-position: -160px 40px; }
.black.pawn   { background-position: -200px 40px; }

.white.king   { background-position:    0px 0; }
.white.queen  { background-position:  -40px 0; }
.white.rook   { background-position:  -80px 0; }
.white.bishop { background-position: -120px 0; }
.white.knight { background-position: -160px 0; }
.white.pawn   { background-position: -200px 0; }

.popup li div { overflow:hidden; width:40px; height:40px; }


.history ul:nth-child(2) { line-height:1em; }
.history li { font-size:0.82em; }

/* EOF */